<a href="javascript:window.print()" class="btn btn-sm btn-secondary float-right">print</a>

<span class="posted-at-top">Posted <%= time_ago_in_words @post.created_at %> ago</span>
<h1 class="mt-4 mb-4"><%= @post.title %></h1>

<%= simple_format @post.content %>

<%# MUST have id for jquery to show the reply form on click. %>
<%= link_to "reply", "#", id: "show_contact_form", class: "btn btn-success" %>

<p class="post-meta mt-4">
  <span class="post-id">Post id: <%= @post.id.to_s %></span>
  <span class="posted-at">Posted <%= time_ago_in_words @post.created_at %> ago</span>
</p>

<div id="contact-form" class="bg-light p-4">
  <div class="row">
    <div class="col-sm-6">
      <%= form_tag send_enquiry_path do %>
        <% user_email = account_signed_in? ? current_account.email : nil %>

        <%= hidden_field_tag :post_id, @post.id %>

        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, user_email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= submit_tag "Send Message", class: "btn btn-success" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
