<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <%= render "layouts/breadcrumb_nav"  %>
    </header>

    <%# Our app is using a library called "toastr" to style and manage these notifications. %>
    <!-- Notice is where messages like "post created successfully" or "logged in successfully" are put. -->
    <% unless notice.nil? %>
      <div class="alert alert-primary notice" role="alert"><%= notice %></div>
    <% end %>

    <div class="container">
      <div class="row">


      <div class="col-3">

        <p>
          <h3>
            <%= link_to "craigslist clone", root_path, class: 'text-dark' %>
          </h3>
        </p>

        <%# <%= link_to "Create new post", new_post_path if controller.controller_name == "public" %>
        <%= link_to "Create new post", new_post_path, class: "btn btn-success" unless is_auth? %>

        <%= render "categories/category_sidebar" if controller.controller_name == "categories" %>

        <% if is_home? %>
          <div class="nav-pages mt-5">
            <p><%= link_to "help, faqs, abuse, legal", faqs_path %></p>
            <p><%= link_to "avoid scams and fraud", scams_path %></p>
            <p><%= link_to "personal safety tips", safety_path %></p>
            <p><%= link_to "terms of use", terms_path %></p>
          </div>
        <% end %>
      </div>
      <div class="col-9">
      <%= yield %>
      </div>
      </div>
    </div>


  </body>
</html>
